/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'multiqc' {
            args = ""
        }
        'LIMA' {
            publish_dir = "02_LIMA"
            args = "--isoseq --peek-guess"
        }
        'BAMTOOLS_CONVERT' {
            publish_dir = "04_BAMTOOLS_CONVERT"
            args = "-format fasta"
        }
        'GSTAMA_POLYACLEANUP' {
            publish_dir = "05_GSTAMA_POLYACLEANUP"
            suffix = "_tama"
        }
        'MINIMAP2_ALIGN' {
            publish_dir = "06_MINIMAP2"
            args = "-x splice:hq -uf --secondary=no -a"
        }
        'ULTRA' {
            publish_dir = "06_ULTRA"
        }
        'PERL_BIOPERL' {
            publish_dir = "07_PERL_BIOPERL"
            args = '-F\'\\t\' -nae \'print if ($F[5] !~ /N$/)\''
            suffix = '.filtered.sam'
        }
        'SAMTOOLS_SORT' {
            publish_dir = "08_SAMTOOLS_SORT"
        }
        'GSTAMA_FILELIST' {
            publish_dir = "10_GSTAMA_FILELIST"
        }
    }
}
