/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'multiqc' {
            args = ""
        }
        'LIMA' {
            publish_dir = "2_LIMA"
            args = "--isoseq --peek-guess"
        }
        'PBBAM_PBMERGE_1' {
            publish_dir = "4_PBMERGE"
        }
        'ISOSEQ3_CLUSTER' {
            publish_dir = "5.1_ISOSEQ3_CLUSTER"
            args = "--singletons --use-qvs --verbose"
        }
        'PBBAM_PBMERGE_2' {
            publish_dir = "5.2_PBMERGE"
        }
        'SAMTOOLS_FASTQ' {
            publish_dir = "6_SAMTOOLS_FASTQ"
        }
        'MINIMAP2_ALIGN' {
            publish_dir = "7a_MINIMAP2"
            args = "-x splice:hq -uf --secondary=no -a"
        }
        'GUNZIP' {
            publish_dir = "7b.1_GUNZIP"
        }
        'ULTRA' {
            publish_dir = "7b.2_ULTRA"
        }
        'PERL_BIOPERL' {
            publish_dir = "8_PERL_BIOPERL"
            args = '-F\'\\t\' -nae \'print if ($F[5] !~ /N$/)\''
            suffix = '.filtered.sam'
        }
        'SAMTOOLS_SORT' {
            publish_dir = "9_SAMTOOLS_SORT"
        }
        'BAMTOOLS_SPLIT' {
            publish_dir = "10_BAMTOOLS_SPLIT"
            args = "-reference"
        }
        'GSTAMA_FILELIST' {
            publish_dir = "11_GSTAMA_FILELIST"
        }
    }
}
